* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color: #d9dcd6;
}

.container{
    
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin-bottom: 20px;
    padding: 50px;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f0f5f8;
    color: #252323;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.flex-item{
    display:flex;
    align-items:center;
    margin:10px;
    padding:20px;
    border:10px solid blue;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #20282c;
    color: #fff8f8;
}

header h1 {
    display: inline-block;
    font-size: 40px;
}

header nav {
   
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;

}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline;
    color: #fff8f8;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/*h2{
    background-color: #fff8f8;
    border-right:10px solid #20282c;
    color: #252323;
}*/


/* {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #e5ecf0; */
     
    .subheader{ 
        margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.leftpart{
    width:30%;
    float: left;
}

.rightpart{
    width: 70%;
    float: right;
}

  

#left {
    flex-shrink: 0;  /* makes sure that content is not cut off in a smaller browser window */
}

.top-left {
    flex-shrink: 0;
}

.top-right {
    flex-shrink: 0;
    display: inline-flex;
}



.bottom {
    flex-grow: 1;  /* ensures that the container will take up the full height of the parent container */
    overflow-y: auto;  /* adds scroll to this container */
}

.attributes{
    font-size:25px;
    margin-left:20%;
}
#calculator{
/*make this twice the size of others */
flex-grow:3;
min-height: 200px;

}
#laptop
{
flex-grow:1;
}

@media screen and (max-width:1000px)
 {
    
}